# Visual Studio hidden folder
.vs/
**/.vs/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# IntelliSense / database
*.VC.db
*.VC.opendb

# Build folders
Debug/
Release/
x64/
x86/
**/Debug/
**/Release/
**/x64/
**/x86/

# CMake temporary files
out/
cmake-build-*/

# Logs / temp
*.log
*.tmp
*.cache
/.vs/slnx.sqlite
/.vs/CPP-_LAB2/v17/Browse.VC.db
